<% title "Soo Peewee Hockey League" %>


<!-- INSIDE ARTICLE TEMPLATE -->
<div class="grid_1">&nbsp;</div><!--spacer-->
<div class="grid_17">
	
	<h1><%= @page.page_title  %></h1>
	<div class="page-content">
		<%= sanitize(@page.page_content) %>
	</div>

</div>

<div class="grid_5 article-side">
	<h4>LEAGUES</h4>
	<hr>	
	<% for l in @leagues %>
      &raquo <%= link_to l.name, league_path(l) %><br/>
  <% end %>
</div>

<div class="grid_1">&nbsp;</div><!--spacer-->
<div class="clear">&nbsp;</div>