<% title @league.name %>


<!-- INSIDE ARTICLE TEMPLATE -->
<div class="grid_1">&nbsp;</div><!--spacer-->
<div class="grid_17">
	
	<h1><%= @league.name  %></h1>
	
	<div class="page-content">
		<%= sanitize(@league.page_content) %>
	</div>

</div>

<div class="grid_5 article-side">
	<h4>TEAMS</h4>
	<hr>	
	<% for team in @teams %>
      &raquo <%= link_to team.name, team_path(team) %><br/>
  <% end %>
	
	<br/>
	<h4>LEAGUE INFO</h4>
	<hr>
	&raquo <a href="#">General Info</a><br/>
	&raquo <a href="#">Rosters</a><br/>
	&raquo <a href="#">Standings</a><br/>
	&raquo <a href="#">Schedule</a><br/>
</div>

<div class="grid_1">&nbsp;</div><!--spacer-->
<div class="clear">&nbsp;</div>
