<% title @league.name %>


<!-- INSIDE ARTICLE TEMPLATE -->
<div class="grid_1">&nbsp;</div><!--spacer-->
<div class="grid_17">
	
	<h1><%= @league.name  %></h1>
	
	<div class="page-content">
		<%= sanitize @league.page_content, :tags => %w(table tr th td p h1 h2 h3 h4 font-size div ul ol li span strong em a), :attributes => %w(id class style width cellpadding cellspacing border) %>
	</div>

</div>

<div class="grid_5 article-side">
	<h4>TEAM PAGES</h4>
	<hr>	
	<% for team in @teams %>
      &raquo <%= link_to team.name, team_path(team) %><br/>
  <% end %>
	
	<%= render :partial => 'shared/league_side_nav' %>

</div>

<div class="grid_1">&nbsp;</div><!--spacer-->
<div class="clear">&nbsp;</div>
