<% title "Team Roster Manager" %>

<%= link_to "New Roster", new_roster_path %>

<table class="admin-tbl" cellspacing="0">
  <tr>
		<th width="55">League</th>
		<th width="75">Type</th>
    <th width="135">Home</th>
		<th width="135">Visting</th>
		<th width="45">Arena</th>
    <th width="165">Date</th>
		<th colspan="2">Manage</th>
  </tr>

</table>
