<% title "Latest News & Updates" %>


<!-- INSIDE ARTICLE TEMPLATE -->
<div class="grid_1">&nbsp;</div><!--spacer-->
<div class="grid_17">
	
	<h1>Latest News & Updates</h1>
	<div class="page-content">
		
		<table class="news-tbl">
		<% for article in @articles %>
		<tr>
			<td width="180" align="right"><%= reg_short_date(article.created_at) %></td>
			<td width="520" style="padding-left:25px;"><%= link_to article.article_title, article %></td>
		</tr>
		<% end %>
		</table>
		
	</div>

</div>

<div class="grid_1">&nbsp;</div><!--spacer-->
<div class="clear">&nbsp;</div>

