$page-bg-color: #222;
$color-red: #e6222a;
$color-yellow: #e89d00;

$content-area-bg: #e6e8ea;
$menu-color:#fff;

$footer-text-color:#999;

$side-color: #226498;
$side-text-light: #8dafca;

$tbl-border-color: #b3b3b3;
$tbl-cellpadding: 6px;

body {
  margin:0px auto;
  background-color: $page-bg-color;
  border-top:10px solid $color-yellow;
  font-family: Helvetica, Arial, Verdana;
  font-size: 0.85em; }

a { color: #111; }
  a img { border: none; }

.clear { clear: both; height: 0; overflow: hidden; }

#topbar { height:110px; background:url('/images/bkg-header-bar.jpg'); }

#flash_notice, #flash_alert { margin:0px; text-align:center; padding:6px; font-size:1.3em;}
#flash_notice { color:#fff; background:#228B22; }
#flash_alert { color:#fff; background:#DC143C; }

#container { 
	margin: 0 auto; background: $page-bg-color; 
	#content-wrapper {
		background: $content-area-bg;
		overflow:hidden;
		padding:0px 0 30px 0;
		
		h1 { text-transform:uppercase; color:#555; text-shadow: 1px 1px 1px #fff; }
	}
	
	.page-content {
		padding-right:15px;
		color:#444;
		a { color:#333; }
		
		.general-tbl {
			border:1px solid #888;
			padding:6px;
		}
		
		table {
			border:1px solid $tbl-border-color;
			td { border: 1px solid $tbl-border-color; padding:$tbl-cellpadding; }
		}
	}
	h4 { font-size:1.1em; margin:2px 0; color:#666; }
	.article-side {
		a { color:#333; font-size:0.90em; }
		a:hover { color:#fff; background-color:#333; text-decoration:none; }		
		hr {color: #fff; background-color: #fff; border: 1px dotted #a7a7a7; border-style: none none dotted; }
	}
}

#featured_news {
	
	margin:0px;
	
	.wrapper { }
	
	.news_img {
		width:200px;
		float:left;
		text-align:right;
	}
	.news_right{
		float:left;
		background-color:#000100; 
		height:246px;
		margin:0px;
	}
	.news_header {
		padding:7px 10px;
		background: $color-yellow;
		font-size:0.85em;
		color: #fff;
		
		.sm { color:$side-text-light; font-style:italic; }
		p { margin:2px 0 4px 0; line-height:0.7em; }
	}
	.news_summary {
		padding:10px 13px;
		width: 230px;
		color:#fff;
		.title {margin:3px 0 12px 0; white-space:pre-wrap; font-size:1.1em; font-style:italic; color:#fff;  }
		p { color:#9a999a; font-size:0.92em; }
	}
}

#flash_notice, #flash_error { padding: 5px 8px; margin: 1px 0; text-align:center; }
#flash_notice { background-color: #68B800; color:#fff; border: solid 1px #5F9616; }
#flash_error { background-color: #FCC; border: solid 1px #C66; }
#error_explanation {  padding: 6px; padding-bottom: 8px; margin-bottom: 20px; background-color: #f4dcdc; }
#error_explanation h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 1.35em; margin: 0px; color: #000; }
#error_explanation p { color: #fff; font-size:1.2em; margin-bottom: 0; padding: 8px; }
#error_explanation ul { margin: 2px 24px; }
#error_explanation ul li { color:#000; font-size: 12px; list-style: disc; }

.notice { margin:6px 0; text-align:center; padding:4px 5px; color:#222; text-shadow: 1px 1px 1px #fff; -moz-border-radius: 5px; border-radius: 5px; font-size:0.88em; }
.attention { background-color:#fef088; border:3px solid #bf9900;  }

#menu {
	height:44px;
	background: url('/images/bkg-menu.png');

	ul { list-style-type: none; height:44px; margin:auto; }
	li { float:left; }
	ul a { padding-right:25px; padding-left:0px; display:block; line-height:44px; text-decoration:none; font-size:1.0em; text-transform: uppercase; color:$menu-color; background-image: url(/images/menu-spacer.png); background-repeat: no-repeat; background-position: right; }
	ul a.last { background:none; }
	ul a:hover { color:#999; }
}
#menu_shadow { height:34px; background:url('/images/bkg-wrapper-shadow.png'); }

.signin { 
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-right:1px solid #b7b7b7;
	border-bottom:1px solid #b7b7b7;
	background-color:#c6c6c6;
	padding:8px 10px;
	
	h1, h2, h3 { margin:2px 0; color:#555; }
}

.signed_in {
	margin:10px 0;
	padding:16px 10px;
	background:#fff;
	border:1px solid #c8c8c8;
	text-align:center;
	box-shadow: 3px 3px 2px #c5c5c5;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	.light { color:#999; }
	.user { font-weight:bold; font-size:1.3em; padding-left:12px; }
}

.small-schedule {
	margin:5px 0;
	padding:3px 2px;
	font-size:0.88em;
	border-bottom:1px solid #d2d2d2;
	color:#666;
	
	.dark { color:#222; }
}

/* Table */
.blue-grey { 

	margin:0px 0 20px 0;
	font-size:0.75em;
	.vs { color:#919191; }
	th { background:url('/images/bkg-th.png') repeat-x top; text-align:left; color:#fff; padding: 4px 0px 4px 4px; font-weight:normal; text-transform:uppercase; }
	td { background:url('/images/bkg-td.png') repeat-x top; color:#464646; border-top:1px solid #fff; border-bottom:1px solid #bababa; padding: 4px 0px 4px 3px; text-transform:uppercase; }
	.day { color:#111; font-weight:bold; border-bottom:3px solid #555; font-size:1.3em; }
	.change { color:#cc0000; font-weight:bold; }
}

#table-top {
	margin:0 0;
	padding:8px 7px;
	background: $color-yellow;
	font-size:1.3em;
	.schedule { font-style:italic; color:#fff; margin-right:15px; }
	.schedule-date { color:#fff; }
}

.news { 
	margin:0px 15px 20px 0;
	font-size:0.95em;
	th { background:url('/images/bkg-th.png') repeat-x top; text-align:left; color:#fff; padding: 10px 0px 10px 3px; font-weight:normal; text-transform:uppercase; }
	td { background:url('/images/bkg-td.png') repeat-x top; color:#464646; border-top:1px solid #fff; border-bottom:1px solid #bababa; padding: 4px 0px 4px 3px; text-transform:uppercase; }
	a { color:#111; font-weight:bold; text-decoration:none; }
	a:hover { color:#555; }
}

#news-top {
	margin:0 0;
	padding:8px 7px;
	background: #111;
	font-size:1.3em;
	font-style:italic; color: #fff; 
	margin-right:15px; 
	
	td { background:#fff; border-bottom:1px solid #e8e8e8; padding:5px 6px; }
}

.news-tbl {
	margin:0 0;
	padding:8px 6px;
	
	td { border-bottom:1px solid #c8c8c8; }
	
	a { font-size:1.4em; color:#333; font-weight:bold; text-decoration:none; }
	a:hover { color:#666; }
	
	.date { background-color:#333; line-height:2.2em; }
	.month { font-size:2.6em; color:#fff; }
	.day { font-size:1.3em; color:#fff; }
}
.asset {
	margin:6px 15px 2px 0;
	padding:6px 4px 6px 12px;
	border-left:4px solid #666;
	background:#fff;
	color:#777;
	font-size:0.82em;
	
	a { color:#222; font-weight:bold; }
	a:hover { color:#888; }
}

#footer {
	margin:30px 0;
	
	.footer-copy {
		font-size:0.82em;
		color: $footer-text-color;
	}
	a { color:#777; }
	a:hover { color:#999; }
}
.simple_form {
	label { float: left; width: 240px; text-align: right; margin: 2px 10px; vertical-align: top; }
	.text { vertical-align:top; text-align:left; margin:2px 0 12px 0; width:100%;}
	
	div.input { margin-bottom: 10px; vertical-align: top; }
	div.input { margin-bottom: 10px; vertical-align: top; }
	
  	div.boolean, input[type='submit'] { margin-right: 20px; text-align:right; }
	div.boolean label, label.collection_radio { float: none; margin: 0; }
	
	label.collection_radio {  margin-right: 10px; margin-left: 2px; }
	
	.error { clear: left; margin-left: 240px; font-size: 12px; color: #D00; display: block; }
	.hint {  clear: left; margin-left: 240px; font-size: 12px; color: #555; display: block; font-style: italic; }
}