body {
  background-color: #edeeeb;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0px auto; }

a {
  color: #004080; }

a:hover {
  color: #646464; }

a img {
  border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  margin: 3px 10px;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px #c8c8c8;
  margin-top: 2px; }
  #container h1 {
    color: #555;
    text-transform: uppercase;
    font-style: italic;
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 15px; }

#topbar {
  margin: 0 0px;
  background-color: #242424;
  background-image: url("/images/admin/bg-menu.png");
  color: #fff;
  padding: 12px; }
  #topbar .logo {
    background-image: url("/images/admin/admin-logo.png");
    margin: 10px 0 0 40px;
    width: 140px;
    height: 19px; }
  #topbar #user_nav {
    margin-top: -22px;
    float: right;
    font-size: 0.95em;
    color: #686868; }
    #topbar #user_nav a {
      font-weight: bold;
      margin-left: 6px;
      color: #fff;
      text-decoration: none; }
    #topbar #user_nav a:hover {
      color: #919191; }
    #topbar #user_nav strong {
      color: #fff; }

#mainnav {
  background-color: #d3d3d3;
  background-image: url("/images/admin/bg-nav.png");
  padding: 12px;
  height: 20px; }
  #mainnav a {
    color: #464646;
    font-size: 1.05em;
    font-weight: bold;
    text-decoration: none;
    -moz-box-shadow: 2 2 2 white;
    /* FF3.5+ */
    -webkit-box-shadow: 2 2 2 white;
    /* Saf3.0+, Chrome */
    box-shadow: 2 2 2 white;
    /* Opera 10.5, IE9 */ }
  #mainnav a:hover {
    color: #747474; }
  #mainnav ul {
    margin: 1px;
    list-style-type: none; }
  #mainnav li {
    display: inline;
    margin: 0 18px 0 10px; }

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  text-align: center; }

#flash_notice {
  background-color: #68B800;
  color: #fff;
  border: solid 1px #5F9616; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

#error_explanation {
  padding: 6px;
  padding-bottom: 8px;
  margin-bottom: 20px;
  background-color: #f4dcdc; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1.35em;
  margin: 0px;
  color: #000; }

#error_explanation p {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 0;
  padding: 8px; }

#error_explanation ul {
  margin: 2px 24px; }

#error_explanation ul li {
  color: #000;
  font-size: 12px;
  list-style: disc; }

.notice {
  margin: 6px 0;
  text-align: center;
  padding: 4px 5px;
  color: #222;
  text-shadow: 1px 1px 1px #fff;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 0.88em; }

.attention {
  background-color: #fef088;
  border: 3px solid #bf9900; }

.dashboard h3 {
  margin: 5px 0;
  text-transform: uppercase;
  color: #666;
  font-style: italic; }
.dashboard p {
  color: #999;
  font-size: 0.8em; }

.simple_form label {
  float: left;
  width: 240px;
  text-align: right;
  margin: 2px 10px;
  vertical-align: top; }
.simple_form .text {
  vertical-align: top;
  text-align: left;
  margin: 2px 0 12px 0;
  width: 100%; }
.simple_form div.input {
  margin-bottom: 10px;
  vertical-align: top; }
.simple_form div.input {
  margin-bottom: 10px;
  vertical-align: top; }
.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-right: 20px;
  text-align: right; }
.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0; }
.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px; }
.simple_form .error {
  clear: left;
  margin-left: 240px;
  font-size: 12px;
  color: #D00;
  display: block; }
.simple_form .hint {
  clear: left;
  margin-left: 240px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic; }

.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px; }

.ui-timepicker-div dl {
  text-align: left; }

.ui-timepicker-div dl dt {
  height: 25px; }

.ui-timepicker-div dl dd {
  margin: -25px 10px 10px 65px; }

.ui-timepicker-div td {
  font-size: 90%; }

#calendar table {
  border-collapse: collapse;
  width: 100%; }

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999; }

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%; }

#calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px; }

#calendar .notmonth {
  color: #CCC; }

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999; }

#calendar .today {
  background-color: #D7F2FF; }

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none; }

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center; }

#footer {
  margin: 20px 10px;
  font-size: 0.8em;
  color: #777; }
  #footer a {
    color: #333;
    text-decoration: none; }
  #footer a:hover {
    color: #777; }

.admin-tbl {
  padding: 2px;
  font-size: 0.9em; }
  .admin-tbl th {
    border-top: 1px solid #b7b7b7;
    background-color: #5b6873;
    color: #fff;
    text-align: left;
    font-weight: normal;
    font-size: 0.92em;
    padding: 5px 8px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.27, #5b6873), color-stop(0.64, #8698a8), color-stop(0.82, #98aab3));
    background-image: -moz-linear-gradient(center bottom, #5b6873 27%, #8698a8 64%, #98aab3 82%); }
  .admin-tbl td {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d6d6d6;
    background-color: #e7ecf0;
    padding: 7px 6px;
    font-size: 0.88em;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.38, #ebebeb), color-stop(0.69, #fcfcfc), color-stop(0.85, #fafafa));
    background-image: -moz-linear-gradient(center bottom, #ebebeb 38%, #fcfcfc 69%, #fafafa 85%); }
