<% title "League Schedules" %>
<div class="grid_1">&nbsp;</div><!--spacer-->
<div class="grid_17">
	
	<h1>SPWHL All Schedules</h1>
	
	<table class="blue-grey">
	  <tr>
	    <th width="340">League</th>
	    <th width="120">View</th>
	  </tr>
	  <% for league in @leagues %>
	    <tr>
	      <td><%= league.name %></td>
				<td><%= link_to "Full Schedule", schedule_path(league.id), :method => :get %></td>
	    </tr>
	  <% end %>
	</table>
	
</div>

<div class="grid_5 article-side">
	<h4>LEAGUE SCHEDULES</h4>
	<hr>	
	<% for l in @leagues %>
      &raquo <%= link_to l.name, schedule_path(l) %><br/>
  <% end %>
</div>

<div class="grid_1">&nbsp;</div><!--spacer-->
<div class="clear">&nbsp;</div>