<div id="footer" class="container_24">
	<div class="grid_24 footer-copy">
		Copyright &copy; <%=Time.now.year%> Soo Peewee Hockey League. All Rights Reserved. &nbsp; [<a href="mailto:webmaster@soopeewee.com">Email Webmaster</a>] &nbsp; [<a href="mailto:registrar@soopeewee.com">Email Registrar</a>]
		<div style="float:right;">
			<a href="http://www.local2.ca"><img src="http://www.local2.ca/ssm/images/logo230.jpg" style="width:80px; padding:3px 5px;"></a>
			<a href="http://www.saultsports.com"><img src="/images/saultsports.png" style="width:80px; padding:3px 5px;"></a>
	</div>
</div> 
<div class="clear">&nbsp;</div>