<div id="footer" class="container_24">
	<div class="grid_24 footer-copy">
		Copyright &copy; <%=Time.now.year%> Soo Peewee Hockey League. All Rights Reserved. &nbsp; [<a href="mailto:webmaster@soopeewee.com">Email Webmaster</a>] &nbsp; [<a href="mailto:registrar@soopeewee.com">Email Registrar</a>]
	</div>
</div> 
<div class="clear">&nbsp;</div>