<div class="container_24" id="menu">
	
	<ul>
		<li><%= link_to  "Home", home_index_path %></li>
		<li><%= link_to  "Leagues", leagues_path %></li>
		<li><%= link_to  "Schedules", schedules_path %></li>
		<li><a href="/pages/4">Tournaments</a></li>
		<li><%= link_to  "News", articles_path %></li>
		<li><a href="/pages/2">Executive</a></li>
		<li><a href="/pages/1" class="last">Information</a></li>
	</ul>
	
</div>
<div class="clear">&nbsp;</div>
<div class="container_24" id="menu_shadow"></div>
<div class="clear">&nbsp;</div>