<% title @page.page_title %>

<!-- INSIDE ARTICLE TEMPLATE -->
<div class="grid_1">&nbsp;</div><!--spacer-->
<div class="grid_17">

	<h1><%= @page.page_title %></h1>
	
	<div class="page-content">
		<%= sanitize @page.page_content, :tags => %w(table tr th td p h1 h2 h3 h4 font-size div ul ol li span strong em), :attributes => %w(id class style) %>
	</div>

	<% for asset in @assets %>
		<div class="asset">
			DOWNLOAD FILE: &nbsp; <%= link_to asset.asset_file_name, asset.asset.url %>
		</div>
	<% end %>
</div>

<div class="grid_5 article-side">
	<h4>SUB MENU</h4>
	<hr>
		<% if @page.parent_id == 1 || @page.id == 1 %>
			&raquo; <a href="/home/calendar">Calendar</a><br/>
		<% end %>
	  <% for sub in @submenu %>
	    &raquo; <%= link_to sub.page_title, sub %><br/>
	  <% end %>
</div>

<div class="grid_1">&nbsp;</div><!--spacer-->
<div class="clear">&nbsp;</div>

